body {
    background-color:#191A1A;
}

/* welcome page*/

.welcome {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items:center;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;


}

#typewriter {
    font-size: 9vh;

}

.welcome-2 {
    height:10vh;
    display: flex;
    justify-content: center;
    align-items:center;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}

#down-arrow-1 {
    color: white;
    text-decoration: none;

}

.flex-container-1 {
    height: 90vh;

    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    margin: 5vh;
}

.about-me {
    /*font-family: Roboto, sans-serif;*/

    /*width: 50vh;*/
    flex: 33%;
    font-size: 9vh;
    letter-spacing: .1em;
    font-weight: bold;


}

.p {
    flex:33%;
    font-size: 3vh !important;
    letter-spacing: .1em;
}

.icons {
    margin-right: auto;
}

.about-icons {
    font-size:3vh;
    color:black;
    text-decoration: none;
    letter-spacing: 1em;

}


/*.img-container {*/
/*    width: 100vh;*/

/*}*/

.img-container{
    flex: 33%;
}

.ysh {
    border-radius: 1vw;
    /*width: 26vw;*/
    /*width: 50vh;*/
    height: auto;
    max-width: 120%;
    /*max-width: 300px;*/
    /*max-height: 300px;*/
    opacity: 0.75;

}

.ysh:hover {
    opacity: 1.0;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 10vh;
    /*width: 200vh;*/
    background:white;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}

#down-arrow-2 {
    color: black;
    text-decoration: none;

}
/**/

.flex-container-2 {
    height: 90vh;
    display:flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    color: #56F7D7;
    margin-top: 5vh;
    letter-spacing: .1em;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;

}

.title {
    color: #56F7D7;
    font-size: 5vh;
    /*font-weight: bold;*/


}


.experience {
    flex: 49%;
    color:white;
    margin-left: 10vh;
    margin-right: 10vh;

}

.vl {

    height: 75vh;
    flex: 2%;
    border-left: 1px #56F7D7 solid;
    z-index: -1;
}

.skills {
    flex: 49%;
    color:white;
    margin-left: 10vh;
    margin-right: 10vh;

}

ul {
    list-style-type: none;
}

li {
    margin: 2vh 0;
}

.arrow-container-2 {
    height:10vh;
    display: flex;
    justify-content: center;
    align-items:center;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}

#down-arrow-3 {
    color: white;
    text-decoration: none;
}



/**/

.proj-header {
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;

}

.proj-title{
    margin-top: 10vh;
    letter-spacing: .1em;
    font-size: 8vh;
}

.projects{
    height: 90vh;

    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;

    letter-spacing: .1em;
}

.proj-1 {
    flex: 32%;
    margin-left: 10vh;
    margin-right: 10vh;
}

.proj-2 {
    flex: 32%;
    margin-left: 10vh;
    margin-right: 10vh;
}
.proj-3 {
    flex: 32%;
    margin-left: 10vh;
    margin-right: 10vh;
}

.vl-2 {

    height: 75vh;
    flex: 2%;
    border-left: 1px black solid;
    z-index: 1;
}


.skills ul {
    margin: 0;
    padding: 5px;
}

.skills li {
    text-align: center;
    width: 31.9%;
    margin-bottom: 3px!important;
    /*background-color: #191A1A;*/
    display: inline-block;
    font-size: 10px;
    padding:0;
}

.skills i {
    display: block;
    margin: 0 auto 10px auto;
    width: 32px;
    height: 32px;
    margin: 10px auto 0;
    line-height: 32px;
    text-align: center;
    color: white;
    margin-top:0;
    padding-top:5px;

}
.skills a{
    text-decoration:none;
    width:100%;
    height:100%;
    display:block;
    margin:0;
    padding:0;
}

.skills a span{
    color:white;
    font-size:2vh;
    padding:5px 0 10px 0;
    display:block;
    letter-spacing:1px;
}



/*navbar*/

.navicon {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    padding: 10px;

}

/* When you mouse over the navigation links, change their color */
.navicon:hover {
    color: darkgrey;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/*.sidenav {*/
/*    display:none;*/
/*    height: 100%; !* 100% Full-height *!*/
/*    width: 0; !* 0 width - change this with JavaScript *!*/
/*    position: fixed; !* Stay in place *!*/
/*    z-index: 1; !* Stay on top *!*/
/*    top: 0; !* Stay at the top *!*/
/*    left: 0;*/
/*    background-color: #111; !* Black*!*/
/*    overflow-x: hidden; !* Disable horizontal scroll *!*/
/*    padding-top: 60px; !* Place content 60px from the top *!*/
/*    transition: 0.5s; !* 0.5 second transition effect to slide in the sidenav *!*/
/*}*/

/* The navigation menu links */
.sidenav a {
    display:block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
/*.sidenav .closebtn {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 25px;*/
/*    font-size: 36px;*/
/*    margin-left: 50px;*/
/*}*/


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#page-1 #page-2 #page-3 #page-4 {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
